click==7.1.2
fastapi==0.63.0
h11==0.11.0
httptools==0.1.1
motor==2.3.0
pydantic==1.7.3
pymongo==3.11.2
python-dotenv==0.15.0
PyYAML==5.3.1
starlette==0.13.6
uvicorn==0.13.2
uvloop==0.14.0
watchgod==0.6
websockets==8.1
